.App {
  text-align: center;
}
.accordion-button {
  background-color: #242424 !important;
}
.accordion-button:focus {
  box-shadow: none;
}
/* table */
table, td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;

}

tr:nth-child(even) {
  background-color: #1e1e1e;
}